<html>
  <head>
    <link rel="stylesheet" type="text/css" href="app.css">
  </head>
  <body>
    <p>表单助手</p>
    <div class="operation-item">
      <img src="images/required.png">
      <span class="desc">填充必填表单元素</span>
      <span class="key">Ctrl(Command)+Shift+Z</span>
    </div>
    <div class="operation-item">
      <img src="images/all.png">
      <span class="desc">填充所有表单元素</span>
      <span class="key">Ctrl(Command)+Shift+A</span>
    </div>
    <div class="operation-item">
      <img src="images/clear.png">
      <span class="desc">清除所有表单元素</span>
      <span class="key">Ctrl(Command)+Shift+M</span>
    </div>
    <script type="text/javascript" src="app.js"></script>
  </body>
</html>
